@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --primary: #0070f3;
  --primary-foreground: #ffffff;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}